modules = ["python-base-3.13", "nodejs-20", "java-graalvm22.3"]

[[ports]]
localPort = 8080
externalPort = 8000

[[ports]]
localPort = 18374

[[ports]]
localPort = 24086
externalPort = 3000

[workflows]
runButton = "Project"

[nix]
channel = "stable-25_05"
packages = ["gradle"]
